*{
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;

}

@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');

#title{
    margin-top: 20px;
   
    font-family: 'Play', sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: rgba(112, 167, 255, 0.74);
    
}

#title-dados{
    
    font-family: 'Play', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: rgba(112, 167, 255, 0.74);
    margin-bottom: 15px;
}
html,body{
    height: 100vh;
    background-color : #212732 !important;
}

.page-container{
   
    flex-direction: column;
    align-items: center;
    display: flex;
    width: 50vw;
    height: 100vh;
    margin: 0 auto;
    

}


#select-form{
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    width: 90%;
    margin-bottom: 78px;
}   

.form-section{

    margin-top: 5px;
    border: 0;
}

form .form-item{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
   
}

form .form-section{
    display: flex;
    width: 100%;
}
form input, form select{
    border: 4px solid rgb(29, 81, 165);
    
    padding: 16px 24px;
    font-size: 16px;
    outline: none;
    border-radius: 8px;
    height: 60px;
}



form select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: flex;
}
form label{
    font-size: 20px;
    margin-bottom: 8px;
    color: antiquewhite;
}

form .form-section .form-item + .form-item{
    margin-left: 24px;
    display: flex;
    flex:1;
}



#filter-button{

    background-color: rgb(29, 81, 165);

}
.button{
    margin-top: 10px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: 0;
    margin-top: 40px;
    transition: 900ms;
    cursor: pointer;
    align-self: center;
    border-radius: 8px;
    width: 400px;
    height: 56px;
}
#register-button{
    background-color: rgba(255, 17, 144, 0.623);
    margin-bottom: 10px;

}
button:hover{
    content: "";
    opacity: 80%;
}





.filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    
}

.container{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

.tabela{
    width: 100%;
}


tr #botoes-tabela{
    display: flex;
    flex-direction: row;

}

#form-excluir{
    padding-right: 5px;
}


#select-modal label{
    color: white;
}

.modal-content{
    background-color: #212732;
    color: white;
}




